<!-- Site footer -->
<div class="bottom">
  <div class="container">
    <div class="col-md-4">
      <h3><span class="glyphicon glyphicon-heart"></span> Developer</h3>
      <p>Babajide Fowotade</p>
    </div>
    <div class="col-md-4">
      <h3><span class="glyphicon glyphicon-star"></span> Courtesy</h3>
      <p>Andela &copy;2015</p>
    </div>
    <div class="col-md-4">
      <h3><span class="glyphicon glyphicon-qrcode"></span> Contact</h3>
      <p>2348069790405</p>
    </div>
  </div>
</div>