<section data-ng-controller="HomeController">
<!-- Site banner -->
  <div class="container">
    <div class="jumbotron text-center">
      <h1>PUT IT IN</h1>
      <p>The Put It In story is still being written</p>
      <a href="#!/customers" class="btn btn-primary btn.sharp btn-custom-main-primary">View Customers</a>
    <a href="http://andela.co" class="btn btn-success btn.sharp btn-custom-main-success">Code Go</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" data-ng-repeat="alert in alerts">
      <div class="row">
        <div class="col-xs-4">
          <h1 class="pull-right">
            <button type="button" class="btn" data-ng-class="alert.color">
              <i class="glyphicon" data-ng-class="alert.icon"></i>
            </button>
          </h1>
        </div>
        <div class="col-xs-8">
          <h1>{{alert.total.length}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-4">
          <span class="text-muted">{{alert.description}}</span>
        </div>
      </div>
    </div>
  </div> <!-- ./end row -->
</section>
