<section data-ng-controller="HomeController">
  <div class="jumbotron topbanner">
    <div class="container">
        <div class="row">
          <div class="col-md-4">
              <img alt="Star" class="img-responsive center-block" 
              src="modules/core/img/brand/starband3.png" />
          </div>
          <div class="col-md-8">
              <h1>The PUT IT IN story is still being written.</h1> 
              <h2><em>Come see the latest review on customers</em></h2>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" data-ng-repeat="alert in alerts">
      <div class="row">
        <div class="col-xs-4">
          <h1 class="pull-right">
            <button type="button" class="btn" data-ng-class="alert.color">
              <i class="glyphicon" data-ng-class="alert.icon"></i>
            </button>
          </h1>
        </div>
        <div class="col-xs-8">
          <h1>{{alert.total}}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-8 col-xs-offset-4">
          <span class="text-muted">{{alert.description}}</span>
        </div>
      </div>
    </div>
  </div> <!-- ./end row -->
</section>
